@model List<JetsonModels.Cluster>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="SummaryTable">
        Select a cluster to view more information. 
        <br /><br />

        <div class="cluster-outer-wrapper">
            @foreach (var cluster in Model)
            {
                <div class="col-xl-3 col-md-4">
                    <a href="../Utilization/ClusterUtilization?id=@Html.DisplayFor(item => cluster.Id)" class="card-cluster">
                        <div class="card">
                            @switch (cluster.Type)
                            {
                                case JetsonModels.Cluster.ClusterType.RaspberryPi:
                                    <img class="card-img-top" src="../../Images/RaspberryPi.png" alt="Cluster Image" style="width:100%; max-height: 100%" />
                                    <h6 class="card-title">Cluster #@cluster.Id: @cluster.ClusterName</h6>
                                    <p class="card-text">View Utilization Stats for Cluster @cluster.Id</p>
                                    break;
                                case JetsonModels.Cluster.ClusterType.Jetson:
                                    <img class="card-img-top" src="~/Images/Jetson.png" alt="Cluster Image" style="width:100%; max-height: 100%" />
                                    <h6 class="card-title">Cluster #@cluster.Id: @cluster.ClusterName</h6>
                                    <p class="card-text">View Utilization Stats for Cluster @cluster.Id</p>
                                    break;
                                case JetsonModels.Cluster.ClusterType.Odroid:
                                    <img class="card-img-top" src="../../Images/Odroid.png" alt="Cluster Image" style="width:100%; max-height: 100%" />
                                    <h6 class="card-title">Cluster #@cluster.Id: @cluster.ClusterName</h6>
                                    <p class="card-text">View Utilization Stats for Cluster @cluster.Id</p>
                                    break;
                                case JetsonModels.Cluster.ClusterType.GenericX86:
                                    <img class="card-img-top" src="../../Images/GenericX86.png" alt="Cluster Image" style="width:100%; max-height: 100%" />
                                    <h6 class="card-title">Cluster #@cluster.Id: @cluster.ClusterName</h6>
                                    <p class="card-text">View Utilization Stats for Cluster @cluster.Id</p>
                                    break;
                                case JetsonModels.Cluster.ClusterType.GenericARM:
                                    <img class="card-img-top" src="../../Images/GenericARM.png" alt="Cluster Image" style="width:100%; max-height: 100%" />
                                    <h6 class="card-title">Cluster #@cluster.Id: @cluster.ClusterName</h6>
                                    <p class="card-text">View Utilization Stats for Cluster @cluster.Id</p>
                                    break;
                                case JetsonModels.Cluster.ClusterType.Other:
                                default:
                                    <img class="card-img-top" src="../../Images/Other.png" alt="Cluster Image" style="width:100%; max-height: 100%" />
                                    <h6 class="card-title">Cluster #@cluster.Id: @cluster.ClusterName</h6>
                                    <p class="card-text">View Utilization Stats for Cluster @cluster.Id</p>
                                    break;
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<style>
#SummaryTable{
        margin: auto;
                        }

    .cluster-outer-wrapper{
        margin: auto;
    }

    .col-xl-3,
    .col-md-4{
        width: 34%;
        display: inline-block;
        padding-bottom: 50px;
    }

    a.card-cluster,
    a.card-cluster:hover{
        color: black;
        text-decoration: none;
    }
</style>