@model JetsonWeb.Models.ClusterSummaryHistorical
@{
    ViewBag.Title = "Cluster Utilization (Historical)";
}

<script type="text/javascript" src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="https://www.chartjs.org/samples/latest/utils.js"></script>

<h3>Cluster Utilization Historical</h3>

<div id="HeaderWrapper">
    <div id="ClusterID">
        <h5>Cluster @Html.DisplayNameFor(model => model.Cluster.Id): @Html.DisplayFor(model => model.Cluster.Id)</h5>
        <p>Last Updated: @ViewData["LastUpdated"]</p>
    </div>
    <div id="AdvancedOptions">
        <div class="dropdown">
            <button class="dropbtn">@ViewBag.RangeString &#8595;</button>
            <div class="dropdown-content">
                <a href="ClusterUtilizationHistorical?id=@Html.DisplayFor(model => model.Cluster.Id)&timeRange=hour">Past Hour</a>
                <a href="ClusterUtilizationHistorical?id=@Html.DisplayFor(model => model.Cluster.Id)&timeRange=day">Past Day</a>
                <a href="ClusterUtilizationHistorical?id=@Html.DisplayFor(model => model.Cluster.Id)&timeRange=week">Past Week</a>
            </div>
        </div>
        <div id="OverviewBtn">
            <a href="ClusterUtilization?id=@Html.DisplayFor(model => model.Cluster.Id)" class="prevBtn">&laquo; Overview</a>
        </div>
    </div>
    <hr />
</div>

<div id="ClusterPowerUtilizationRT2">
    <div class="chart-container-rt2">
        <canvas id="cluster-power-usage-historical"></canvas>
    </div>
    <div class="chart-container-rt2">
        <canvas id="cluster-memory-usage-historical"></canvas>
    </div>
</div>

<script>
    var clusterPowerUsageHistoricalConfig = {
        type: 'line',
        data: {
            datasets: [{
                data: [
                    @{
                        List<DateTime> powerLabels = new List<DateTime>();
                        for (int i = 0; i < ViewBag.PowerDataCount; i++)
                        {
                            float totalPower = 0;
                            foreach (var node in Model.NodesSummariesHistorical)
                            {
                                totalPower += node.HistoricalPower[i].Power;
                            }
                            powerLabels.Add(Model.NodesSummariesHistorical.First().HistoricalPower[i].Timestamp);
                            @Html.Raw(totalPower);
                            @Html.Raw(",");
                        }
                    }
                ],
                label: 'Power Usage (W)',
                backgroundColor: window.chartColors.orange,
                borderColor: window.chartColors.orange,
                fill: false,
            }],
            labels: [
                @{
                    foreach(var powerLabel in powerLabels)
                    {
                        @Html.Raw("\"" + powerLabel.ToString() + "\"");
                        @Html.Raw(",");
                    }
                }
            ],
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Power Usage (W)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Power (W)'
                        },
                        ticks: {
                            min: 0
                        }
                    }]
                }
            }
        }
    };

    var clusterMemoryUsageHistoricalConfig = {
        type: 'line',
        data: {
            datasets: [{
                data: [
                    @{
                        List<DateTime> memoryLabels = new List<DateTime>();
                        float totalMemory = 0;
                        for (int i = 0; i < ViewBag.UtilizationDataCount; i++)
                        {
                            float totalPower = 0;
                            float totalMemoryUsed = 0;
                            foreach (var node in Model.NodesSummariesHistorical)
                            {
                                totalPower += node.HistoricalPower[i].Power;
                                totalMemoryUsed += node.HistoricalUtilization[i].MemoryUsed;
                                if (i == 0)
                                {
                                    totalMemory += totalMemoryUsed + node.HistoricalUtilization[i].MemoryAvailable;
                                }
                            }
                            memoryLabels.Add(Model.NodesSummariesHistorical.First().HistoricalUtilization[i].TimeStamp);
                            @Html.Raw(totalMemoryUsed);
                            @Html.Raw(",");
                        }
                    }
                ],
                label: 'Memory Usage (MB)',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                fill: false,
            }],
            labels: [
                @{
                    foreach(var memoryLabel in memoryLabels)
                    {
                        @Html.Raw("\"" + memoryLabel.ToString() + "\"");
                        @Html.Raw(",");
                    }
                }
            ],
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Memory Usage (MB)'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Memory (MB)'
                        },
                        ticks: {
                            min: 0,
                            max: @totalMemory
                        }
                    }]
                }
            }
        }
    };

    window.onload = function () {
        var clusterPowerUsageHistoricalCtx = this.document.getElementById('cluster-power-usage-historical').getContext('2d');
        var clusterMemoryUsageHistoricalCtx = this.document.getElementById('cluster-memory-usage-historical').getContext('2d');
        window.clusterPowerUsageHistoricalChart = new Chart(clusterPowerUsageHistoricalCtx, this.clusterPowerUsageHistoricalConfig);
        window.clusterMemoryUsageHistoricalChart = new Chart(clusterMemoryUsageHistoricalCtx, this.clusterMemoryUsageHistoricalConfig);
    }
</script>

<style>
    .chart-container-rt {
        width: 45%;
        margin: auto;
    }

    .chart-container-rt2 {
        width: 67%;
        display: inline-block;
        margin: auto;
    }

    #ClusterPowerUtilizationRT2 {
        margin: auto;
    }

    #ClusterID {
        display: inline-block;
    }

    #AdvancedOptions {
        float: right;
        display: block;
    }

    #OverviewBtn {
        float: right;
        display: inline-block;
    }

    .prevBtn {
        background-color: #f1f1f1;
        color: black;
        padding: 8px 16px;
        display: inline-block;
        text-decoration: none;
    }

        .prevBtn:hover {
            background-color: #dddddd;
            color: black;
        }

    .dropbtn {
        background-color: #f1f1f1;
        color: black;
        padding: 9px 14px;
        min-width: 100px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 5px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 9px 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #949494;
    }

    h3, h5 {
        margin-bottom: 0.05em;
    }
</style>