@model JetsonWeb.Models.ClusterSummary
@{
    ViewData["Title"] = "Cluster Utilization (Advanced View)";
}

<script type="text/javascript" src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script type="text/javascript" src="https://www.chartjs.org/samples/latest/utils.js"></script>

<h1>Cluster Utilization</h1>

<div id="HeaderWrapper">
    <div id="ClusterID">
        <h4>Cluster @Html.DisplayNameFor(model => model.Cluster.Id): @Html.DisplayFor(model => model.Cluster.Id)</h4>
    </div>
    <div id="Overview">
        <a href="ClusterUtilization?id=@Html.DisplayFor(model => model.Cluster.Id)" class="prevBtn">&laquo; Overview</a>
    </div>
    <hr />
</div>

<div id="ClusterPowerUtilizationRT2">
    <div class="chart-container-rt2">
        <canvas id="cluster-per-node-voltage-utilization-rt"></canvas>
    </div>
</div>

<div id="SummaryTable">
    <table class="ClusterInfo">
        <tr class="ClusterInfo">
            <th class="ClusterInfo" colspan="2">Node Information</th>
        </tr>
        <tr class="ClusterInfo">
            <th class="ClusterInfo">Node ID</th>
            <th class="ClusterInfo">IP Address</th>
        </tr>
        @foreach (var node in Model.NodeSummaries)
        {
            <tr class="ClusterInfo">
                <td class="ClusterInfo"> @Html.DisplayFor(modelItem => node.Id) </td>
                <td class="ClusterInfo"> @Html.DisplayFor(modelItem => node.Node.IPAddress) </td>
            </tr>
        }
    </table>
</div>

<script>

    var clusterPerNodeVoltageUtilizationRTConfig = {
        type: 'bar',
        data: {
            datasets: [{
                data: [
                    @foreach(var node in Model.NodeSummaries)
                    {
                        var powerData = node.RecentPower;
                        @Html.Raw(powerData.Voltage.ToString());
                        @Html.Raw(",");
                    }
                ],
                backgroundColor: window.chartColors.purple,
                borderWidth: 1,
                label: 'Per-Node Voltage Draw'
            }],
            labels: [
                @foreach(var node in Model.NodeSummaries)
                {
                    @Html.Raw(node.Id.ToString());
                    @Html.Raw(",");
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            title: {
                display: true,
                text: 'Cluster Per-Node Voltage Draw'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Voltage (V)'
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 6,
                        suggestedMin: 0
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var clusterPerNodeVoltageUtilizationRTCtx = this.document.getElementById('cluster-per-node-voltage-utilization-rt').getContext('2d');
        window.clusterPerNodeVoltageChart = new Chart(clusterPerNodeVoltageUtilizationRTCtx, this.clusterPerNodeVoltageUtilizationRTConfig);
    };

    setInterval(function () {
        location.reload();
    }, 35000);
</script>

<style>
    .ClusterInfo {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 25%;
        border: 1px solid black;
        text-align: center;
    }

    th.ClusterInfo {
        padding: 6px;
        background-color: #dddddd;
    }

    td.ClusterInfo {
        padding: 3px;
    }

    tr.ClusterInfo:hover {
        background-color: #ededed;
    }

    .chart-container-rt {
        width: 45%;
        margin: auto;
    }

    .chart-container-rt2 {
        width: 45%;
        display: inline-block;
    }

    #ClusterMemoryUtilizationRT {
        margin: auto;
    }

    #ClusterID {
        display: inline-block;
    }

    #Overview {
        float: right;
        display: inline-block;
    }

    .prevBtn {
        background-color: #f1f1f1;
        color: black;
        padding: 8px 16px;
        display: inline-block;
        text-decoration: none;
    }

    .prevBtn:hover {
        background-color: #dddddd;
        color: black;
    }
</style>
